<script setup lang="ts">
import { onMounted, ref, watch } from "vue";
import { IPlayerDTO } from "@/utils/dto/IPlayerDTO";
import { useStore } from "vuex";
import { emitter } from "@/main";

const store = useStore();
const players = ref(store.getters.getPlayers);

watch(
  () => players,
  (newPlayers: IPlayerDTO[]) => {
    store.dispatch("setPlayers", newPlayers);
  }
);

onMounted(() => {
  fetchPlayers();
  //Update players when adding a new one
  emitter.on("reload-player-list", () => {
    fetchPlayers();
  });
  //Action performed when clicking on the 'create game' button
});

const handleButtonClick = (player: IPlayerDTO, index: number, newToogle: boolean) => {
  // Compter le nombre de joueurs dont isToggled est true
  const toggledPlayersCount = store.getters.getPlayers.filter((p: {
    player: IPlayerDTO;
    isToggled: boolean
  }) => p.isToggled).length;

  // Si le nombre de joueurs dont isToggled est true est inférieur à 2
  if (newToogle) {
    // Changer le isToggled du joueur
    if (toggledPlayersCount >= 2) {
      alert("Vous ne pouvez pas ajouter plus de 2 joueurs à une partie.");
      return;
    }
  }
  store.commit("togglePlayer", player.playerId);

};

const fetchPlayers = () => {
  fetch("http://localhost:8000/punto/local/players", {
    method: "GET",
    headers: {
      "Content-Type": "application/json",
    },
  })
      .then((response) => {
        if (response.ok) {
          return response.json();
        } else if (response.status === 404) {
          throw new Error("Aucun joueur dans la base de données.");
        } else {
          throw new Error(
              "Une erreur inattendue s'est produite lors de la récuperation des joueurs."
          );
        }
      })
      .then((data) => {
        store.dispatch("setPlayers", data.data);
      })
      .catch((error) => {
        console.error(error);
      });
};
</script>

<template>
  <div class="container">
    <h4>Add an existing player</h4>
    <div class="buttons-container">
      <button
          v-for="(item, index) in store.getters.getPlayers"
          :key="index"
          :class="[
          'btn',
          { 'btn-light': !item.isToggled, 'btn-primary': item.isToggled },
        ]"
          :value="item.player.playerId"
          @click.prevent="handleButtonClick(item.player, <number>index, !item.isToggled)"
      >
        {{ item.player.nom }}
      </button>
    </div>
  </div>
</template>

<style scoped>
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.buttons-container {
  height: 300px;
  overflow-y: scroll;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.buttons-container::-webkit-scrollbar {
  display: none;
}

button {
  margin: 10px;
}
</style>