<script setup lang="ts">
import {defineProps, PropType} from 'vue'
import {EnumColor} from "@/utils/enums/EnumColor";

const props = defineProps({
  x: Number,
  y: Number,
  color: {
    type: String as PropType<EnumColor | null>,
    default: null
  },
  value: {
    type: Number as PropType<number | null>,
    default: null
  }
})

const getColor = ((color: string) => {
  switch (color) {
    case "red":
    case "RED":
      return "rgba(255,0,0,0.68)";
    case "green":
    case "GREEN":
      return "rgba(0,255,0,0.6)";
    case "yellow":
    case "YELLOW":
      return "rgba(255,255,0,0.59)";
    case "blue":
    case "BLUE":
      return "rgba(0,234,255,0.61)";
    default:
      return "rgba(224,224,224,0.91)";
  }
});
</script>

<template>
  <div class="cell" :style="{ backgroundColor: getColor(<string>color) }">
    {{ value }}
  </div>
</template>

<style scoped>
.cell {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.5vw;
  height: 3.5vw;
  border: 3px solid #3f3f3f;
  border-radius: 7px;
  margin: 5px;

  font-size: 3.5vw;
  font-weight: bold;
  font-family: Arial narrow, sans-serif;

  transition: transform 0.1s ease-in-out;
}

.cell:hover {
  transform: scale(1.1);
}
</style>