<script setup lang="ts">
import {ref} from "vue";

const pseudo = ref("");
const message = ref("");
const showAlert = ref(false);
const isValidRequest = ref(false);
import {emitter} from '@/main';

const createPlayer = () => {
  // Ici, vous pouvez ajouter le code pour créer un nouveau joueur avec le pseudo
  // fetch pour la creation du player
  fetch("http://localhost:8000/punto/local/players", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      name: pseudo.value,
    }),
  })
      .then(async (response) => {
        if (response.ok) {
          return response.json();
        } else if (response.status === 409) {
          throw new Error("Un joueur avec ce nom existe déjà.");
        } else {
          const data = await response.json();
          throw new Error(data.message);
        }
      })
      .then(() => {
        message.value = "Le joueur a été créé avec succès.";
        isValidRequest.value = true;
      })
      .catch((error) => {
        message.value = error.message;
        isValidRequest.value = false;
      })
      .finally(() => {
        showAlert.value = true;
        emitter.emit('reload-player-list');
      });
};
</script>

<template>
  <form @submit.prevent="createPlayer" class="container-col">
    <h4>Create a new player</h4>
    <div class="input-pseudo">
      <label for="pseudo">Pseudo :</label>
      <input
          id="pseudo"
          v-model="pseudo"
          type="text"
          placeholder="Ex: mvPunto..."
          class="form-control"
          maxlength="15"
      />
    </div>
    <button
        type="submit"
        class="btn btn-primary"
    >
      Create player
    </button>
    <div class="alert" :class="{'alert-info': isValidRequest, 'alert-danger': !isValidRequest}" v-show="showAlert">
      {{ message }}
    </div>
  </form>
</template>

<style scoped>
.container-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container-col > .input-pseudo {
  margin-top: 3%;
}
</style>