<script setup lang="ts">

</script>

<template>
  <div class="dashboard">
    dash tkt
  </div>
</template>

<style scoped>
.dashboard {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}
</style>