<script setup lang="ts">
import Cell from "@components/Cell.vue";
import {useStore} from "vuex";
import {PropType} from "vue";
import {IPlayerDTO} from "@/utils/dto/IPlayerDTO";
import {IRoundDTO} from "@/utils/dto/IRoundDTO";
import {emitter} from "@/main";

const store = useStore();

const props = defineProps({
  gameId: {
    type: Number,
    default: 0
  },
  currentRound: {
    type: Object as PropType<IRoundDTO>,
    default: null
  },
  isRoundFinished: {
    type: Boolean,
    default: false
  }
})

const playMove = ((row: number, column: number) => {
  let move = {
    playerId: props.currentRound?.currentPlayer?.playerId,
    roundId: props.currentRound?.roundId,
    row: row,
    column: column,
    cardNumber: props.currentRound?.currentCard?.cardNumber,
    cardColor: props.currentRound?.currentCard?.cardColor
  };

  fetch('http://localhost:8000/punto/local/games/' + props.gameId + '/play', {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify(move)
  }).then(async (response) => {
    if (response.ok) {
      return response.json();
    } else {
      const data = await response.json();
      throw new Error(data.message);
    }
  }).then((data) => {
    console.log(data);
    store.commit('setGame', data.data);

  }).catch((error) => {
    console.log(error.message);
  });
});
</script>

<template>
  <div class="grid" v-if="!isRoundFinished">
    <div class="row"
         v-for="(row, rowIndex) in currentRound.board"
         :key="rowIndex">
      <Cell v-for="(cell, cellIndex) in row"
            :key="cellIndex"
            :x="cell.row"
            :y="cell.column"
            :value="cell.card ? cell.card.cardNumber : null"
            :color="cell.card ? cell.card.cardColor : null"
            :style="cell.isPlayable ? 'visibility: visible' : 'visibility: hidden'"
            @click="playMove(cell.row, cell.column)"

      />
      <!--            :style="cell.isPlayable ? 'visibility: visible' : 'visibility: hidden'"-->

    </div>

  </div>
  <div class="roundFinished" v-if="isRoundFinished">
    Round finished
    <button @click="emitter.emit('nextRound')">
      start new round
    </button>
  </div>
</template>

<style scoped>
.grid, .roundFinished {
  display: flex;
  flex: 5;
  flex-direction: column;

}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
</style>