<script setup lang="ts">
import {useStore} from "vuex";
import router from "@/router";

const store = useStore();

</script>

<template>
  <div class="header-punto">
    <div class="play-buttons">
      <div class="btn btn-primary" @click="router.push('/')"> Create game</div>
      <div class="btn btn-secondary"
           :style="store.getters.getGame ? 'visibility: visible' : 'visibility: hidden'"
           @click="router.push('/play')"> Play
      </div>
    </div>
    <div class="btn btn-danger" @click="router.push('/admin')"> Administration</div>
  </div>
</template>

<style scoped>
.btn {
  margin: 0 10px;
}
.play-buttons {
  display: flex;
  flex-direction: row;
}

.header-punto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 3vh;
}
</style>