<script setup lang="ts">
import {emitter} from "@/main";

const props = defineProps({
  database: String
})


const load = (() => {
  console.log("Loading " + props.database);
});

const save = (() => {
  console.log("Saving " + props.database);
  fetch("http://localhost:8000/punto/local/database/save/" + props.database, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    }
  })
      .then(async (response) => {
            if (response.ok) {
              console.log("Data saved for database " + props.database);
            }
          }
      )
      .catch((error) => {
        console.log(error.message);
      })
});
const dump = (() => {
  console.log("Dumping " + props.database);
  fetch("http://localhost:8000/punto/local/database/" + props.database, {
    method: "DELETE",
    headers: {
      "Content-Type": "application/json",
    }
  })
      .then(async (response) => {
            if (response.ok) {
              console.log("Data dumped for database " + props.database);
            }
          }
      )
      .catch((error) => {
        console.log(error.message);
      })
});

const extract = (() => {
  console.log("Extracting " + props.database);
});
const swap = (() => {
  console.log("Swapping " + props.database);
  fetch("http://localhost:8000/punto/local/database/swap/" + props.database, {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    }
  })
      .then(async (response) => {
            if (response.ok) {
              console.log("Data swaped for database " + props.database);
            }
          }
      )
      .catch((error) => {
        console.log(error.message);
      })
});

</script>

<template>
  <div class="item-container">
    <h5>{{ database }} </h5>
    <div class="buttons">
      <div class="btn" style="background-color: #2977ff" @click="load()">Load</div>
      <div class="btn" style="background-color: #57ff29" @click="save()">Save</div>
      <div class="btn" style="background-color: #e50000" @click="dump()">Dump</div>
      <div class="btn" style="background-color: #ffea2b" @click="extract()">Extract</div>
      <div class="btn" style="background-color: #d39bff" @click="swap()">Swap</div>
    </div>
  </div>
</template>

<style scoped>
.buttons {
  display: flex;
  flex-direction: row;
}

.btn {
  margin: 0 10px;
}

.item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  width: 100%;
  padding: 10px;

  border: #9a9797 solid 2px;
  border-radius: 10px;
}

h5 {
  margin-right: 60px;
}
</style>