<script setup lang="ts">
import {computed, onMounted, Ref, ref, watch} from 'vue';
import {useStore} from 'vuex';
import Cell from "@/components/Cell.vue";
import {EnumStatus} from "@/utils/enums/EnumStatus";
import {IGameDTO} from "@/utils/dto/IGameDTO";
import {defineProps, PropType} from "vue/dist/vue";
import {EnumColor} from "@/utils/enums/EnumColor";
import {IPlayerDTO} from "@/utils/dto/IPlayerDTO";
import {IRoundDTO} from "@/utils/dto/IRoundDTO";

const props = defineProps({
  players: {
    type: Array as PropType<Array<IPlayerDTO>>,
    default: []
  },
  currentRound: {
    type: Object as PropType<IRoundDTO>,
    default: null
  }
})

</script>

<template>

  <div class="players-col">
    <div class="players">
      <div v-for="(player, index) in players" :key="index" class="player-row">
        <div class="player-info">
          <div class="player-name">
            {{ player.nom }}
          </div>
          <div class="player-id">
            {{ "#id: " + player.playerId }}
          </div>
        </div>
        <Cell
            v-if="player.playerId === currentRound?.currentPlayer?.playerId"
            :value="currentRound.currentCard?.cardNumber"
            :color="currentRound.currentCard?.cardColor"
            :style="{'visibility': 'visible'}"
            class="cell"/>
      </div>
    </div>
  </div>

</template>

<style scoped>
.player-name {
  font-family: "JetBrains Mono SemiBold", sans-serif;
  font-size: 2rem;
  margin-bottom: -0.5rem;
}

.player-id {
  font-size: 0.75rem;
  font-family: "JetBrains Mono", sans-serif;
  font-style: italic;
  color: #9a9797;
}

.cell {
  width: 2.7vw;
  height: 2.7vw;
  font-size: 2.5vw;
}

.player-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  min-width: 100%;
  margin: 5px;
}

.player-info {
  margin: 0 1rem 0 1rem;
  padding: 0 0.75rem 0 0.75rem;
  border: #9a9797 2px solid;
  border-radius: 10px;
}

.players {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.players-col {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-top: 15%;
}
</style>