<script setup lang="ts">
import AddExistingPlayer from "@/components/AddExistingPlayer.vue";
import CreatePlayer from "@/components/CreatePlayer.vue";

</script>

<template>
  <div class='container'>
    <AddExistingPlayer />
    <div class="separator"></div>
    <CreatePlayer />
  </div>
</template>

<style scoped>
.separator {
  width: 4px; /* Ajustez la largeur de la barre de séparation ici */
  background-color: #9a9797; /* Ajustez la couleur de la barre de séparation ici */
  border-radius: 10px;

}

.container {
  display: flex;
}
</style>
