<script setup lang="ts">
import Header from "@/components/Header.vue";
import ManageBdd from "@/components/ManageBdd.vue";

const bdds = ["MYSQL", "SQLITE", "MONGODB", "NEO4J"]
</script>

<template>
  <Header/>
  <div class="all">
    <div class="bdd-list">
      <div v-for="bdd in bdds" :key="bdd" class="bdd-item">
        <ManageBdd :database="bdd"/>
      </div>
    </div>
  </div>
</template>

<style scoped>
.bdd-list {
max-width: 60%;

}

.all {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
</style>