<script setup lang="ts">
import SelectPlayers from "@/components/SelectPlayers.vue";
import {IPlayerDTO} from "@/utils/dto/IPlayerDTO";
import {Ref, ref} from 'vue';
import {useStore} from "vuex";
import router from "@/router";
import Header from "@/components/Header.vue";

const store = useStore();
const description: Ref<string> = ref<string>("");
const nbRounds: Ref<number> = ref<number>(1);

const sendGameCreation = () => {
  const players: { player: IPlayerDTO, isToggled: boolean }[] = store.getters.getPlayers
  const game: { description: string, nbRounds: number, players: number[] } = {
    description: description.value,
    nbRounds: nbRounds.value,
    players: []
  };

  for (const element of players) {
    if (element.isToggled) {
      game.players.push(<number>element.player.playerId);
    }
  }

  if (game.players.length < 2) {
    alert("Vous devez sélectionner au moins 2 joueurs pour lancer une partie.");
    return;
  }

  sendGameToApi(game);
}

async function sendGameToApi(data: {
  description: string;
  nbRounds: number;
  players: number[];
}) {
  fetch("http://localhost:8000/punto/local/games", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(data)
  })
      .then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
      })
      .then((response) => {
        store.commit('setGame', response.data);
        store.commit('setCurrentRound', response.data.currentRound)
        router.push({path: '/play'});
      })
      .catch((error) => {
        console.error('There was a problem with the fetch operation: ', error);
        alert("Une erreur est survenue lors de la création de la partie. Plus d'info dans la console.")
      });
}
</script>

<template>
  <Header />
  <div class="container">
    <div class="form">
      <form>
        <h3 class="centered-title">Creation d'une partie</h3>
        <div class="game-input">
          <div class="description">
            <label for="description">Description de la partie :</label>
            <input
                id="description"
                v-model="description"
                type="text"
                placeholder="A very fun game..."
                class="form-control"
            />
          </div>
          <div class="nb-rounds">
            <label for="nbRounds">Nombre de round :</label>
            <input
                id="nbRounds"
                v-model="nbRounds"
                type="number"
                placeholder="1"
                class="form-control"
            />
          </div>
        </div>
        <SelectPlayers class="player-selector"/>
        <div class="submit-btn">
          <button @click.prevent='sendGameCreation()' class="btn btn-primary">
            Lancer la partie
          </button>
        </div>
      </form>
    </div>
  </div>
</template>

<style scoped>
.submit-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form > * {
  padding: 10px 0 10px 0;
}

.game-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 5%;
}

.nb-rounds {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.centered-title {
  text-align: center;
}

</style>