<script setup lang="ts">
import Grid from "@/components/Grid.vue";
import PlayersList from "@/components/PlayersList.vue";
import Dashboard from "@/components/Dashboard.vue";
import {useStore} from "vuex";
import {onMounted, ref, Ref, toRaw, watch} from "vue";
import {IGameDTO} from "@/utils/dto/IGameDTO";
import {EnumStatus} from "@/utils/enums/EnumStatus";
import {IRoundDTO} from "@/utils/dto/IRoundDTO";
import {emitter} from "@/main";
import router from "@/router";
import Header from "@/components/Header.vue";

const store = useStore();
const game: Ref<IGameDTO> = ref(store.getters.getGame);
const isRoundFinished: Ref<boolean> = ref(false);

onMounted(() => {
      checkGameStatus(store.getters.getGame);

      emitter.on('nextRound', () => {
        nextRound();
      });
    }
);

watch(() => store.getters.getGame, (newGame) => {
  checkGameStatus(newGame);
}, {deep: true});

const checkGameStatus = (newGame: IGameDTO) => {
  if (newGame.status != EnumStatus.FINISHED) {
    if (newGame.currentRound && newGame.allRounds[newGame.currentRound].status === EnumStatus.STARTED) {
      if (newGame.currentRound == store.state.currentRound) {
        store.commit('setCurrentRound', newGame.currentRound);
      } else {
        isRoundFinished.value = true;
        console.log("Current round: " + newGame.currentRound);
        console.log("Old round: " + (newGame.currentRound - 1));
        console.log("Round winners: " + JSON.stringify(newGame.allRounds[newGame.currentRound - 1].winners));
      }
    }
  } else {
    alert("Game is finished");
    console.log("Game is finished. Winners are: " + JSON.stringify(newGame.winners));
    router.push('/');
  }

};
const nextRound = () => {
  store.commit('setCurrentRound', store.getters.getGame.currentRound);
  isRoundFinished.value = false;
};
</script>

<template>
  <Header/>
  <div class="game">
    <PlayersList :players="game.players" :currentRound="<IRoundDTO> store.getters.getGame.allRounds[store.getters.getCurrentRound]"/>
    <Grid :currentRound="<IRoundDTO> store.getters.getGame.allRounds[store.getters.getCurrentRound]"
          :gameId="<number> store.getters.getGame.gameId"
          :isRoundFinished="isRoundFinished"/>
    <Dashboard/>
  </div>
</template>


<style scoped>
.game {
  display: flex;
  flex-direction: row;
}
</style>