<script setup lang="ts">
import Grid from "@/components/Grid.vue";
import PlayersList from "@/components/PlayersList.vue";
import Dashboard from "@/components/Dashboard.vue";
import Header from "@/components/Header.vue";
</script>

<template>
  <Header/>
  <PlayersList class="game-player-list"/>
  <Grid class="game-grid"/>
  <Dashboard class="game-dashboard"/>
</template>

<style scoped>

.game-grid {
  display: flex;

}

.game-player-list {
  display: flex;

}

.game-dashboard {
  display: flex;

}

</style>